
16I (Stellung im Beruf, Wirtschaftsbereich).xlsx

8I (Schulabschluss).xlsx

9I (berufsqualif. Abschluss).xlsx

BildungsabschlussElternKinderText.csv

Blogpost_group4.pages

Data Visualisation.ipynb

Datensatz_Ausbildungsverträge

Datensatz_Ausbildungsverträge.xlsx

Datensatz_Schulabschluss

Datensatz_Schulart_Abschluss

df1_Ausbl.xlsx

df3_Schulab.xlsx

dfH_Habl.xlsx

migrationstatus.csv

Untitled.ipynb
